.nav-container {
    height: 100vh;
    width: 240px;
    background-color: #3E21DE;
    overflow-y: auto;

    .nav-item > a {
        color: white;
        align-items: center;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        display: flex;
        height: 40px;
        outline: none;
        text-align: left;
        text-decoration: none;
        padding-left: 40px;
        margin: 20px 0 20px 0;
        img {
            width: 25px;
        }
        .nav-item-text {
            margin-left: 12px;
        }
        
    }
    .nav-item > a.selected {
        border-right: 2px solid blue;
    }

    .nav-item > a:hover {
        background-color: #3E21DE;
    }

}
