@import "../../styles/variables.scss";

button.login {
    float: right;
    background-color: #00557e;
    padding: 8px 20px;
    color: #c8dbe4;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.header {
    height: 60px;
    background-color: #f9f9fc;
    padding: 0 30px;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    box-shadow: 0px 3px 6px #00000029;
}
