.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* table styling  */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin: auto;
}

thead {
  background-color: #00557e;
  color: #c8dbe4;
}

td, th {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #c8dbe4;
}

.dashboard {
  display: flex;
  background-color: rgb(244, 245, 247);
}

.switches {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  max-width: 300px;

  a {
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  a.included {
    background-color: #C4D600;
  }
  a.excluded {
    background-color:lightgray;
    color: gray;
  }
}

.insights-page {
  display: flex;
  flex-wrap: wrap;
}

.coding-block {
  margin: 20px;
  
}

.main {
  width: calc(100vw - 240px);
}
.content {
  max-height: calc(100vh - 90px);
  overflow-y: auto;
}
