.card {
    max-width: 400px;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    background-color: white;

    .card-title {
        font-weight: bold;
        margin-bottom: 10px;
        display: flex;
        img {
            margin-right: 10px;
        }
    }
}
.card.success:hover {
    border-color: #189561;
    .highlight {
        color: #189561;
    }
}
.card.error:hover {
    border-color: #ee3d31;
    .highlight {
        color: #ee3d31;
    }
}
.card.warning:hover {
    border-color: #ff9d00;
    .highlight {
        color: #ff9d00;
    }
}

